*
{
    box-sizing: border-box;
    margin:  0px;
    padding: 0px;
}

/*---------------- Header ---------------------*/
header {
    display: flex;
    /*width: 100%;*/
    justify-content: space-between;
    align-items: center;
    background: #034b64;
    /*padding-bottom: 5px;*/
    padding: 10px 30px;
    
    position: sticky;
    top: 0;

}

.logo img{
    width: 40px;
}

header h1{
    text-align: center;
    color: #d6c7ae;
    flex: 1;
    font: 30px "Times New Roman";
}

.nav-bar{
    display: flex;
    /*justify-content: space-around;*/
    gap: 40px; /*How much space you want between two elements*/
    list-style-type: none;
}

.socials{
    padding-left: 30px;
    display: flex;
    gap: 20px;
}

.socials img{
    width: 30px;
    height: 30px;
}

.nav-bar a {
    color: antiquewhite;
}

.nav-bar .current{
    color:rgb(205, 188, 166);
}

a:link{
    text-decoration: none;

}

a:visited{
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}


.content{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    background-color: #dab496;
    font: "Times New Roman";
    /* 
    background-image: url(images/icon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    */
}

/*------------------ Body -------------------------*/
body{
    background-color: #dab496;
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*------------------ Index.html -------------------*/
.content h1, h3, h4{
    color: #2b3a47;
}

.content p{
    color:black;
}

.genre{
    padding-left: 20px;
    list-style-type: none;
}

.genre li::before{
    content: "- ";
}

/*-------------------- Projects.html -------------------*/
.projects{
    padding-bottom: 35px;
}

.content .projects h2{
    padding-top: 25px;
    padding-bottom: 10px;
    color: #2b3a47;
}

.projects h3{
    padding-bottom: 10px;
}

.content .projects b{
    font-style: italic;
}

.list-aboutme{
    padding-left: 30px;
    /*list-style-type: lower-roman;*/
}

.profile{
    /*border-style: dotted;*/
    
    width: 200px;
    height: 200px;
    /*
    display: flex;
    justify-content: space-evenly;
    align-items: end;*/
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

/*---------------- Experience.html ------------------*/
.experience h2{
    padding-top: 25px;
    color: #2b3a47;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
}


td, th{
    border: 1px black;
    border: thin solid black;
}

td h3{
    padding-left: 10px;
    padding-right: 10px;
}

.table-header{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #2b3a47;
    font-style: italic;
    font-size: larger;
   
}

.date{
    text-align: center;
}

.activity{
    padding-left: 10px;
    padding-right: 10px;
}

.academic a{
    color: black;
}

.academic img{
    float: left;
}

.academic h2{
    color: #2b3a47;
}

.academic p{
    padding-left: 120px;
}

.task{
    padding-left: 40px;
}

.experience a{
    color: #394d5d;
}
/*--------------------------------------------------*/




/*------------ Contact.html ------------------ */

.content legend{
    text-align: center;
    font-size: 20px;
}

.content form{
    width: fit-content;
    margin: auto;
    text-align: left;
    padding: 5px;
}

.content fieldset{
    padding: 3px;
}

.content label{
    display: inline-block;
    vertical-align: top;
    width: 75px;
}

.content input, .content textarea{
    margin-bottom: 5px;
    width: 250px;
    padding: 6px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.contactus{
   text-align: center;
   color: #2b3a47;
}

.box{
   text-align: center;
   width: 80%;
   margin: 20px auto;
   background-color:#c4a186;
   border: 1px solid #ad8e76;
   padding: 15px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box p{
    color:rgb(255, 255, 255);
}

.phone_icon{
    width: 30px;
    height: 30px;
}

/*--------------------------------------------*/

/*------------ footer ------------------ */

.footer{
    background: #034b64;
    color: #d6c7ae;
    padding:20px;
}
.footer p{
    text-align: center;
}

footer{
    width: 100%;
    position:absolute;
    bottom: 0;
    color:#d6c7ae;
    background-color: #034b64;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



