*
{
    margin:  0px;
    padding: 0px;
}

header {
    display: flex;
    /*width: 100%;*/
    justify-content: space-between;
    align-items: center;
    background-color:cadetblue;
    /*padding-bottom: 5px;*/
    padding: 10px 30px;
    
    position: sticky;
    top: 0;

}

.logo img{
    width: 40px;
}

header h1{
    text-align: center;
    color: bisque;
    flex: 1;
    font: 30px "Times New Roman";
}

.nav-bar{
    display: flex;
    /*justify-content: space-around;*/
    gap: 40px; /*How much space you want between two elements*/
    list-style-type: none;
}

.socials{
    padding-left: 30px;
    display: flex;
    gap: 20px;
}

.socials img{
    width: 30px;
    height: 30px;
}

.nav-bar a {
    color: antiquewhite;
}

.nav-bar .current{
    color:rgb(205, 188, 166);
}

a:link{
    text-decoration: none;

}

a:visited{
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

.content{
    width: 100%;
    padding-left: 25px;
    text-align: justify;
    /* 
    background-image: url(images/icon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    */
}

.list-aboutme{
    padding-left: 30px;
    list-style-type: lower-roman;
}

.profile{
    /*border-style: dotted;*/
    
    width: 100px;
    height: 100px;
}

footer{
    width: 100%;
    position:absolute;
    bottom: 0;
    color:antiquewhite;
    background-color: darkcyan;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}